<div class="row">
    <div class="col">
        <input #searchTerm type="text" (keyup)="searchArtist(searchTerm.value)" class="form-control" placeholder="Search by Artist">
    </div>
</div>

<hr>

<div *ngIf="artists != null" class="card-columns m-5">
    <div *ngFor="let artist of artists; let i=index" class="card">
        <img *ngIf="artist.images[0] != undefined" [src]="artist.images[0].url" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ artist.name }}</h5>
            <span *ngFor="let gender of artist.genres;" class="badge badge-pill badge-primary">{{ gender }}</span>
        </div>
    </div>
</div>