<div [ngClass]="alert" class="alert" role=" alert ">
    A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info m-2" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success m-2" (click)="alert = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{'text-danger' : properties['danger'], 'text-info' :!properties['danger'] }"> Hola Mundo...</h3>

<button (click)="properties['danger'] = !properties['danger']" class="btn" [ngClass]="{'btn-danger' : properties['danger'], 'btn-info': !properties['danger']}">Cambiar</button>